<!DOCTYPE html>
<html lang="en">

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>

<body>
    <h1>Welcome To Chat Application</h1>
    <h1>
        {% if current_user.is_authenticated %}
        Hello , 
        {{current_user.username}}
        {% else %}
        Please Login here
        <br>
        <a href="/login">Login</a>
        {% endif %}
    </h1>
    <!-- <h3>Please Login <a href="{{url_for('login')}}">here</a></h3> -->
    
    
    {% if current_user.is_authenticated %}
    <h3>My rooms</h3>
    <ul>
        {% for room in rooms %}
            <!-- {{room._id.room_id}} -->
            <li><a href="/rooms/{{room._id.room_id}}">{{ room.room_name }}</a></li>
        {% endfor %}
    </ul>
    <h3>Want Create Your Own Room , Visit below Link</h3>
    <a href="/create-room/">Create-New-room</a>
    <h3>Logout Here</h3>
    <a href="/logout">Logout</a>
{% endif %}
</body>

</html>