<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>
<body>
    <!-- <h1>Login Here</h1>
    <form action="/login" , method="post">
        <label>Username : </label>
        <input type="text" , name="username" placeholder="Enter Your Username">
        <br>
        <label>Password : </label>
        <input type="password" , name="password" placeholder="Enter Your Password">
        <br>
        <button type="submit">Login</button>
    </form>
    <h3 class="sgup">New To Our Emojify Chat Application , SignUp below</h3><br>
    <a href="/signup" class="signupbtn">Sign Up</a> -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h3 class="message">{{message}}</h3>
          <h2 class="active"> Log In </h2>
          <h2 class="inactive underlineHover"> <a href="/signup" >Sign Up</a> </h2>
    
    
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="/../static/icons/a2.png" id="icon" alt="User Icon" />
          </div>
    
          <!-- Login Form -->
          <form action="/login" method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username" required><br><br>
            <input type="password" name="password" id="password" type="password" class="fadeIn third" placeholder="password"
              required><br><br>
    
            <input type="submit" class="fadeIn fourth" name="submit" value="Login">
          </form>
    
    
        </div>
      </div>
</body>
</html>