<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/view_room.css') }}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat page</title>
</head>

<body>
    <p class="welcome">Welcome {{username}} To {{room.name}}</p>

    <div class="main">
        <div class="left">
            <div id="messages">
                {% for message in messages %}
                <div class="message">
                    <div class="main-msg">
                        <b class="own">{{message.sender}}</b>
                        <h4 class="text">{{message.text}}</h4>
                    </div>
                    <span class="time">{{message.created_at}}</span>
                </div>
                {% endfor %}
            </div>
            <div class="input">
                <form id="emoji_form">
                    <button class="submit" type="submit"><img class="input-icon"
                            src="/./static/icons/smiling-face.png" /></button>
                </form>
                <form id="message_input_form">
                    <input type="text" id="message_input" placeholder="Enter Your Message">
                    <button class="submit" type="submit"><img class="input-icon"
                            src="/./static/icons/send.png" /></button>
                </form>
            </div>
        </div>


        <div class="right">
            <button id="load_older_messages_btn">Load older Messages</button>
            <div class="main_member">
                <img class="member_icon" src="/../static/icons/people.png" alt="people" />
                <h2 class="mem">Members: </h2>
            </div>
            <ul class="members">
                {% for member in room_members%}
                <li class="member">{{member._id.username}}</li>
                {% endfor %}
            </ul>

            <a href="/logout"><button id="lgbtn">Logout</button></a><br>
            <p>Logout From Here</p>
            
            <a href="/"><button id="gbbtn">Exit Room</button></a><br>
            <p>Want to chat in different Rooms , Click Here To See Your Rooms</p>
            
            <!-- {{username}}{{room._id}} -->
            {% if temp %}
            <div id="edit_room">
                <a href="/rooms/{{room._id}}/edit"><button id="edbtn">Edit Room</button></a>
                <p>Make some changes to your Room</p>
                <!-- {{room._id}} -->
            </div>
            {% endif %}
        </div>
    </div>
</body>





<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>

<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{room._id}}"
        })
        let message_input = document.getElementById('message_input');
        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim()
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{room._id}}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
        document.getElementById('emoji_form').onsubmit = function (e) {
            e.preventDefault();
            socket.emit('emotion')
        }

    });
    let page = 0;

    document.getElementById("load_older_messages_btn").onclick = (e) => {
        page += 1;
        fetch("/rooms/{{ room._id }}/messages?page=" + page, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(messages => {
                messages.reverse().forEach(message => prepend_message(message.text, message.sender, message.created_at));
            })
        })
    };

    function prepend_message(message, username, created_at) {
        const newNode = document.createElement('div');
        newNode.innerHTML = `<div class="message">
                                <div class="main-msg">
                                    <b class="own">${username}</b>
                                    <h4 class="text">${message}</h4>
                                </div>
                                <span class="time">${created_at}</span>
                            </div>`;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    }


    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })
    };

    socket.on('receive_message', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<div class="message">
                                <div class="main-msg">
                                    <b class="own">${data.username}</b>
                                    <h4 class="text">${data.message}</h4>
                                </div>
                                <span class="time">${data.created_at}</span>
                            </div>`;
        document.getElementById('messages').appendChild(newNode);
        document.getElementById('message_input').value = ''
    })

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<div class="join"><b>${data.username}</b> has joined the room</div>`;
        document.getElementById('messages').appendChild(newNode);
    })

    socket.on('catch_emotion', function (final) {
        console.log(final)
        // const newNode = document.createElement('div');
        // newNode.innerHTML = `${final}`;
        // document.getElementById('emoji').appendChild(newNode)
        let append_emoji = final
        document.getElementById('message_input').value += append_emoji
        document.getElementById('message_input').focus()
    })

</script>

</html>