body {
    /* max-width: 500px; */
    margin: auto;
    width: 100%;
    height: 100vh;
    font-size: 600;
    font-family: arial, sans-serif;
    background-image: url('/../static/icons/c1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcome{
    color: #644141;
    font-family: arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    /* background-color: pink; */
}

#load_older_messages_btn {
    text-decoration: none;
    border: 0;
    background: white;
    color: black;
    padding: 0.5rem 0.8rem;
    border: 3px solid black;
    /* font-size: large; */
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
  }

#load_older_messages_btn:hover{
    background: black;
    color: white;
}

.main{
    display: flex;
    height: 90%;
}
.message{
    width: 90%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.main-msg{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.time{
    text-align: right;
    font-size: 0.7rem;
}
.own{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    color: rgb(100, 82, 82);
}
.text{
    padding: 0;
    margin: 0;
    width: 100%;
    color: #0a3950;
    padding: 0.2rem 0.4rem;
    background: rgb(247, 243, 243);
    border: 1px solid black;
    border-radius: 0 10px 10px 10px;
    line-break: normal;
    word-wrap:break-word;
    font-size: 18px;
}
.left{
    /* float: left; */
    /* width: 20%; */
    width: 50%;
    text-align: left;
    /* background: blue; */
    height: auto;
    border-right: 2px solid rgb(131, 125, 125);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}
.join{
    padding: 1rem;
    font-size: 1.2rem;
}

input[type=text] {
    background-color: #ffffff;
    border: none;
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /* border: 1px solid #555; */
    border-bottom: 2px solid #3b3e3f;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 1.5rem;
  }

input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

.input-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.submit{
    text-decoration: none;
    border: 0;
    background: none;
    cursor: pointer;
}
.right{
    /* float: right; */
    width: 50%;
    padding: 1rem;
    /* text-align: center; */
    /* background: yellow; */
}
.main_member{
    display: flex;
    margin-left: 1rem;
}
.member_icon{
    width: 30px;
    height: 30px;
    padding: 0.6rem;
    background-color: rgb(180, 76, 76);
    border-radius: 50%;
    margin: auto 0;
}
.mem{
    padding: 1rem;
    margin: 0;
}
.members{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.member{
    padding: 0.3rem;
    margin-left: 5rem;
    font-weight: bold;
    color: rgb(180, 76, 76);
    border-bottom: 1px solid black;
    width: 5rem;
}
/* .member:last-child{
    border: 0;
} */

#lgbtn{
    text-decoration: none;
    border: 0;
    background: rgb(230, 145, 34);
    color: white;
    padding: 0.3rem 1rem;
    /* font-size: large; */
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 2rem;
    margin-top: 2rem;
}

#gbbtn{
    text-decoration: none;
    border: 0;
    background: rgb(230, 145, 34);
    color: white;
    padding: 0.3rem 1rem;
    /* font-size: large; */
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 2rem;
}

#edbtn{
    text-decoration: none;
    border: 0;
    background: rgb(230, 145, 34);
    color: white;
    padding: 0.3rem 1rem;
    /* font-size: large; */
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 2rem;
}

p{
    margin-left: 2rem;
    font-size: 15px;
    margin-top: 0rem;
    font-style: italic;
    color: grey;
}